body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  margin: 0;
}

form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 80%; 
  max-width: 2400px; 
  min-width: 500px; 
  text-align: center;
  position: relative;
  padding: 30px; 
  box-sizing: border-box;
}

h1 {
  font-size: 32px; 
  margin-top: 20px;
  margin-bottom: 60px;
  color: #333;
}

label {
  display: block;
  text-align: center;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="password"] {
  width: 80%; /* Aumentei a largura dos campos de entrada */
  padding: 15px; /* Aumentei o padding para mais conforto */
  margin-bottom: 20px; /* Aumentei o espaçamento entre os campos */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 15px;
  width: 70%; /* Aumentei a largura do botão */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px; /* Aumentei o tamanho da fonte */
  font-weight: bold;
  text-transform: uppercase;
}

input[type="submit"]:hover {
  background-color: #f69d3b;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 16px; /* Aumentei o tamanho da fonte dos links */
}

a:hover {
  text-decoration: underline;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px; /* Aumentei o espaçamento inferior */
}

input[type="checkbox"] {
  margin-right: 10px;
}

.options label {
  font-size: 16px; /* Aumentei o tamanho da fonte das labels */
  color: #555;
}

.options a {
  font-size: 16px;
  margin-left: 42%;
  color: gray;
}

.criarconta a {
  width: 220px;
  height: 40px; /* Aumentei a altura do botão */
  background-color: white;
  color: black;
  border: none;
  padding: 12px;
  font-size: 18px; /* Aumentei o tamanho da fonte */
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (max-width: 1024px) {
  form {
    width: 90px; 
    padding: 20px;
  }

  input[type="text"],
  input[type="password"] {
    width: 85%; /* Aumentei um pouco a largura */
    padding: 12px;
  }

  input[type="submit"] {
    width: 80%; /* Aumentei o botão um pouco */
  }

  .options {
    flex-direction: column;
  }
}

/* Para dispositivos móveis (celulares) */
@media (max-width: 768px) {
  form {
    width: 95%; /* Formulário ocupa 95% da tela */
    padding: 15px;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%; /* Campos ocupam 100% */
    padding: 12px;
  }

  input[type="submit"] {
    width: 100%; /* Botão ocupa 100% */
  }

  h1 {
    font-size: 26px; /* Tamanho da fonte reduzido em telas pequenas */
  }

  .options {
    flex-direction: column;
    align-items: flex-start;
  }
}
