body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  margin: 0;
}

form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 800px;
  text-align: center;
  position: relative;
}

h1 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 60px;
  color: #333;
}

label {
  display: block;
  text-align: center;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="password"] {
  width: 70%;

  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 12px;
  width: 60%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

input[type="submit"]:hover {
  background-color: #f69d3b;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.options label {
  font-size: 14px;
  color: #555;
}

.options a {
  font-size: 14px;
  margin-left: 42%;
  color: gray;
}
.criarconta a {
  width: 200px;
  height: 30px;
  background-color: white;
  color: black;
  border: none;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
