.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
}

body {
  background-color: #f6f6f6;
}

.config{
  color: white;
  cursor: pointer;
}

.calendar {
  flex: 2;
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.calendar-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calendar-controls button {
  background-color: #c94c51;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  transition: background-color 0.3s ease;
  margin: 0 5px;
}

.calendar-controls button:active {
  background-color: #aa3d40;
}

.calendar table {
  width: 100%;
  border-collapse: collapse;
}

.calendar th,
.calendar td {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ddd;
}

.calendar th {
  background-color: #c94c51;
  color: white;
  font-weight: bold;
}

.calendar td {
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.calendar td:hover {
  background-color: #e0e0e0;
}

.calendar .has-data {
  background-color: #b3ffb3; /* Cor verde para indicar que tem dados */
}

.data-preview {
  flex: 1;
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.data-preview h3 {
  margin-top: 0;
  color: #1f1f1f;
  text-align: center;
}
.data-preview h2 {
  margin-top: 0;
  background-color: #c94c51;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.data-preview p {
  font-size: 16px;
  margin: 10px 0;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .calendar,
  .data-preview {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
