body {
  font-family: Arial, sans-serif;
  background-color: #f1f2f6;
  margin: 0;
  text-align: center;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  background-color: rgb(255, 255, 255);
  padding: 20px; 
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.button-item h2 {
  color: #c94c51;
}
.button-item h3 {
  color: #000000;
}

.button-item {
  margin: 15px 0;
  width: 100%;
  
}

.buttons-container button {
  padding: 15px;
  font-size: 16px;
  background-color: #c94c51;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  margin-bottom: 10px; 
}

.buttons-container h3 {
  margin: 0 0 10px; 
}

.content {
  padding: 30px;
  text-align: center;
  background-color: white;
  width: 60%;
  height: 300px;
  margin: 20px auto; /* Centraliza horizontalmente e adiciona espaço acima/abaixo */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
  top: 0; 
}
.box {
  display: inline-block;
  width: 15%;
  margin-right: 4%;
  border: 2px solid #555;
  padding: 10px;
  border-radius: 4px;
}
.box .label {
  font-size: 16px;
  color: white;
  border-radius: 3px;
  background-color: #d9534f;
}
.box .value {
  font-size: 20px;
  font-weight: bold;
}
.box.right {
  text-align: center;
  border: 2px solid #555;
  width: 500px;
  height: 200px;
  border-radius: 4px;
  line-height: 90px;
}
.box.right .value {
  font-size: 40px;
  font-weight: bold;
}


