body {
  font-family: Arial, sans-serif;
  background-color: #f1f2f6;
  margin: 0;
  padding: 10px;
  text-align: center;
}

h1 {
  color: #333;
}

.header {
  background-color: #c94c51;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Permite que os itens se ajustem em telas menores */
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-info {
  flex-grow: 1;
}

.user-name {
  font-size: 18px;
  font-weight: bold;
}

.user-position {
  font-size: 14px;
  margin-top: 5px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  background-color: rgb(255, 255, 255);
  padding: 20px; 
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}


.button-item {
  margin: 15px 0;
  width: 100%;
}

.buttons-container button {
  padding: 15px;
  font-size: 16px;
  background-color: #c94c51;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  margin-bottom: 10px; /* Espaçamento entre os botões */
}

.buttons-container h3 {
  margin: 0 0 10px; /* Margem ajustada para os títulos */
}

hr {
  width: 100%;
  margin: 20px auto;
}

@media (max-width: 600px) {

  .boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header img {
      display: none;
  }
}
