body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  text-align: center;
}

h1 {
  color: #333;
}

.header {
  background-color: #c94c51;
  color: white; 
  padding: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap; 
  font-size: 15px;
  
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-info {
  flex-grow: 1;
}

.user-name {
  font-size: 18px;
  font-weight: bold;
}

.user-position {
  font-size: 14px;
  margin-top: 5px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  background-color: rgb(255, 255, 255);
  padding: 20px; 
  width: 80%;
  height:   50%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}



.button-item {
  margin: 15px 0;
  width: 100%;
}

.button-item  {
  margin: 15px 0;
  width: 100%;
  
}
.button-item h3 {
  color: #c94c51;
}

.buttons-container justificar {
margin-top:100px;
}

.buttons-container button {
  padding: 15px;
  font-size: 16px;
  background-color: #c94c51;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  margin-top: 50px;
  
}

.buttons-container h3 {
  margin: 0 0 10px; /* Margem ajustada para os títulos */
}

hr {
  width: 100%;
  margin: 20px auto;
}



label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #333;
}

/* Estilização dos inputs de horário e data */
input[type="time"],
input[type="date"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

/* Estilização do textarea */
textarea {
  resize: vertical;
  min-height: 80px;
}

/* Adiciona espaçamento ao redor dos grupos de label e input */
div.button-item label,
div.button-item input[type="time"],
div.button-item input[type="date"],
div.button-item textarea {
  margin-top: 10px;
}



@media (max-width: 600px) {

  .boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header img {
      display: none;
  }
}


.espaco {
  padding: 80px;
}