body {
  font-family: Arial, sans-serif;
  background-color: #f6f6f6;
}


.voltar {
  background: none;
  border: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header .user {
  display: flex;
  align-items: center;
}

.header .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid white;
}

.header .user p {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  justify-content: center; 
  padding: 60px;
}

.menu {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 30px;
}

.menu button {
  width: 400px; 
  padding: 20px;
  background: #f69223;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 17px;
}


.pendencias {
  width: 300px;
  height: 300px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  padding: 20px;
}

.pendencias h2 {
  text-align: center;
  font-size: 18px;
}
.notifications-container {
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}


.notification-item {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #efefef;
  border-radius: 8px;
  background-color: #f8f8f8;
  line-height: 1.6;
}

.notification-text strong {
  color: #333;
  display: inline-block;
  min-width: 100px;
}

.notification-text {
  margin-bottom: 10px;
  font-size: 1.1em;
  color: #555;
}


.complete-btn {
  background-color: #f69223;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
}





@media (max-width: 600px) {
  .container {
    flex-direction: column; /* Alinha a coluna em telas menores */
    align-items: center; /* Centraliza o conteúdo em telas menores */
  }

  .header img {
    display: none; /* Esconde a imagem da header */
  }

  .menu button {
    width: 200px; 
    padding: 20px; 
    font-size: 18px; 
    border-radius: 10px; 
    
  }
}
