.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
}

.calendar {
  flex: 2;
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.calendar-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calendar-controls button {
  background-color: #c94c51;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  transition: background-color 0.3s ease;
  margin: 0 5px;
}

.calendar-controls button:active {
  background-color: #aa3d40;
}

.calendar table {
  width: 100%;
  border-collapse: collapse;
}

.calendar th,
.calendar td {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ddd;
}

.calendar th {
  background-color: #c94c51;
  color: white;
  font-weight: bold;
}

.calendar td {
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.calendar td:hover {
  background-color: #e0e0e0;
}

.calendar .has-data {
  background-color: #b3ffb3; /* Cor verde para indicar que tem dados */
}

.data-preview {
  flex: 1;
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.data-preview h3 {
  margin-top: 0;
  color: #c94c51;
  text-align: center;
}

.data-preview p {
  font-size: 16px;
  margin: 10px 0;
}

.diaselec {
  background-color: #c94c51;
  color: white;             
  text-align: center;         
  display: flex;              
  justify-content: center;    
  align-items: center;        
  font-size: 30px;            
  width: 100px;               
  height: 100px;             
  border-radius: 10px;        
  margin: 10px auto;          
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


.entrada, .saida {
  font-size: 16px;
  margin-bottom: 15px;
}

.entrada strong, .saida strong {
  color: #333;
  font-weight: bold;
}

input[type="time"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.salvar {
  background-color: #c94c51;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  width: 100%;
}



/* Responsividade */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .calendar,
  .data-preview {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
